@import '../../variables';

.main_home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3em;

  &__card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 4em 0;

    &__card {
      margin: 1em;

      &:hover {
        background-color: #87ceeb;
        // transform: scale(1.05);
      }

      &__image {
        &:hover {
          cursor: pointer;
          background-color: #87ceeb;
          transform: scale(1.05);
        }
      }

      &__text {
        margin-top: 5px;

        &:hover {
          cursor: pointer;
          color: white;
          transform: scale(1.1);
        }
      }
    }
  }
}
.list__container {
  @media (min-width: 592px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
